.content_pokemon {
  background-color: #fff;
  padding: 20px;
}
.content_pokemon .pencarian {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.content_pokemon .list-item {
  margin-left: 10px;
  margin-right: 10px;
}
.content_pokemon .list-item .item {
  padding: 5px;
}
.content_pokemon .list-item .item .content {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.content_pokemon .list-item .item .content img {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 100%;
}
.content_pokemon .list-item .item .content img:hover {
  background-color: blue;
  /* background: url("images/card-front.jpg") no-repeat; */
}
.content_pokemon .list-item .item .content .desc-1 {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border-top-left-radius: 10px;
  text-decoration: none;
  color: #000;
  
}
.content_pokemon .list-item .item .content .desc-2 {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.content_pokemon .list-item .item .content .desc-3{
  height: 50px;
  padding: 10px;
}

.content_pokemon .list-item .item .content .desc-3 a{
  text-decoration: none;
  background-color: #313131;
  color: #fff;
  padding: 8px;
  font-size: .8rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.content_pokemon .loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.content_pokemon .spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}