.header {
  background-color: #313131;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
.header .brand {
  height: 100%;
}
.header .brand img {
  height: 100%;
}

.header .navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .navlink a {
  background-color: #fff;
  color: #000;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  place-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.footer {
  background-color: #313131;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}

.footer .credit1 {
  width: 30%;
  height: 100%;
}
.footer .credit1 .brand {
  height: 100%;
}
.footer .credit1 .brand img {
  height: 30%;
}
.footer .credit1 p {
  color: #fff;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 0.8rem;
}
.footer .credit2 {
  width: 30%;
  height: 100%;
}
.footer .credit2 .title {
  color: #fff;
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.footer .credit2 ul {
  padding-left: 20px;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: dotted;
  font-family: "Arial Narrow Bold", sans-serif;
}
.footer .credit3 {
  background-color: #fff;
  width: 30%;
  height: 100%;
}
